body {
    padding-top: 70px;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    height: 500px;
    display: -moz-groupbox;
}

tbody {
    overflow-y: scroll;
    height: 500px;
}
.panel {
    overflow: hidden;
}