<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alon's Movies</title>
    <link rel="icon" href="https://image3.putlocker.is/images/favicon.png" type="image/x-icon" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/movie-ui/app/angular-responsive-tables.min.css">
    <script type="text/javascript" src="/movie-ui/app/angular-responsive-tables.min.js"></script>
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!-- JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="/movie-ui/app/controller.js"></script>

</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container" ng-app="movieApp" ng-controller="mainController">

    <table wt-responsive-table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td style="color:#337ab7;">Add Movie</td>
            <td style="color:#337ab7;">Movie Format</td>
            <td nowrap style="color:#337ab7;">Year Seen</td>
            <td style="color:#337ab7;">Enter Password</td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="inputTitle"></i></div>
                        <input type="text" class="form-control" placeholder="Add Movie Title" ng-model="addMovieTitle">
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="input-group">
                        <select ng-model="addMovieFormat" name="addMovieFormat">
                            <option value="In Theaters">In Theaters</option>
                            <option value="Video">Video</option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="input-group">
                        <select ng-model="addMovieYear" ng-options="year for year in Range(2016, 2030)"></select>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="inputFormat"></i></div>
                        <input type="password" class="form-control" ng-model="moviePassword"
                               ng-keypress="($event.which === 13)?addMovie():0">
                    </div>
                </div>
            </td>
        </tr>
        </thead>
    </table>


    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>

                <input type="text" class="form-control" placeholder="Search Movie Title" ng-model="searchMovies">

            </div>
        </div>
    </form>

    <table wt-responsive-table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'title'">
                    Movie Title
                    <span ng-show="sortType == 'title'" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'format'">
                    <span ng-show="sortType == 'format'" class="fa fa-caret-down"></span>
                    Movie Format
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'year'">
                    <span ng-show="sortType == 'year'" class="fa fa-caret-down"></span>
                    Year Seen
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in movies | orderBy:sortType:sortReverse | filter: searchMovies ">
            <td>{{ movie.title }}</td>
            <td>{{ movie.format }}</td>
            <td>{{ movie.year }}</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
