<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alon's Movies</title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="release/angular-responsive-tables.min.css">
  <script type="text/javascript" src="release/angular-responsive-tables.min.js"></script>
  <style>
    body { padding-top:50px; }
  </style>

  <!-- JS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>

</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container" ng-app="movieApp" ng-controller="mainController">

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search Movie Title" ng-model="searchMovies">

      </div>
    </div>
  </form>

  <table wt-responsive-table class="table table-bordered table-striped" >

    <thead>
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'title'">
          Movie Title
          <span ng-show="sortType == 'title'" class="fa fa-caret-down"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'format'">
          <span ng-show="sortType == 'format'" class="fa fa-caret-down"></span>
          Movie Format
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'year'">
          <span ng-show="sortType == 'year'" class="fa fa-caret-down"></span>
          Year Seen
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <div class = "form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="inputTitle"></i></div>
            <input type="text" class="form-control" placeholder="Add Movie Title" ng-model="addMovieTitle">
          </div>
        </div>
      </td>
      <td>
        <div class = "form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="inputFormat"></i></div>
            <input type="text" class="form-control" placeholder="Add Movie Format" ng-model="addMovieFormat">
          </div>
        </div>
      </td>
      <td>
        <div class = "form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="inputYear"></i></div>
            <input type="text" class="form-control" placeholder="Add Movie Year" ng-model="addMovieYear" ng-keypress="($event.which === 13)?addMovie():0">
          </div>
        </div>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in movies | orderBy:sortType:sortReverse | filter: searchMovies ">
      <td>{{ movie.title }}</td>
      <td>{{ movie.format }}</td>
      <td>{{ movie.year }}</td>
    </tr>
    </tbody>

  </table>

</div>
</body>
</html>