<div class="jumbotron">
    <h1 style="text-align: center">Your Movies</h1><br/>
    <p>This is a modest movie application that allows you to keep track of movies you've seen, and upcoming movies you are interested in; as well as showing you some statistics and allowing you to add a movie.</p>


    <p style="text-align: center"><a class="btn btn-primary btn-lg" ng-if="userSignedOut()">Please Sign in to access your list or add new movies</a><a class="btn btn-primary btn-lg" href="list" ng-if="userSignedIn()">See Your List</a></p>
</div>
