<form>
    <div>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading" style="background-color: #009688">
                <div class="row">
                    <div class="col-sm-3">Movie</div>
                    <div class="col-sm-3">Year(s) Seen</div>
                    <div class="col-sm-3">Format(s) Seen</div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group has-success">
                    <input type="text" class="form-control" placeholder="Search Movie List" ng-model="searchQuery">
                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="movie in movies | filter:searchQuery">
                    <td>{{ movie.Title }}</td>
                    <td>{{ movie.Year }}</td>
                    <td>{{ movie.Format }}</td>
                    <td><button type="button" ng-click="showMovieDetails(movie)" class="btn btn-default"><i class="material-icons">info_outline</i></button></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</form>
